@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>@DateTime.Now.ToString()</h2>
    <h1>GAMEGALE</h1>

    <p class="lead">GameGale is your video game rental store. We can offer you over 9000 the latest & greatest titles to choose from. What are you waiting for?</p>
    <p>@Html.ActionLink("Visit Us", "Index", "Home", null, new { @class = "btn btn-primary btn-lg"})</p>
</div>
